.cart-item{
  display: inline-flex;
  margin:20 10 px;
}
/* .cart-item.left-side{
  height : 110 px;
  width : 110px;
  border-radius : 4px
} */
.cart-item.right-side{
  padding: 0 20 px;
}
.action{
  margin-top: 20 px;
}
.cartsec{
  display: flex;
  flex-direction: column;
}